$card-width: 280px;
$card-height: $card-width/2 * 3;
$card-mouse-enter-transtion: 0.24s ease-out;
$card-mouse-leave-transtion: 0.5s ease-out;

.event-grid .event-card {
	position: relative;
	overflow: hidden;
	width: $card-width;
	height: $card-height;
	margin: 20px 10px;
	border-radius: 24px;
}

.event-card-image {
	position: relative;
	width: $card-width;
	height: $card-height;
	transition: $card-mouse-leave-transtion;
}

.event-card-info {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: absolute;
	bottom: 0%;
	width: 100%;
	height: 100%;
	opacity: 0;
	color: white;
	transition: $card-mouse-leave-transtion;
}

.event-card:hover {
	.event-card-image {
		transition: $card-mouse-enter-transtion;
	}
	
	.event-card-info {
		backdrop-filter: blur(16px) saturate(180%);
		background-color: rgba(17, 25, 40, 0.75);
		opacity: 1;
		height: 102%;
		transition: $card-mouse-enter-transtion;
	}
}
