#page-title {
	display: flex;
	justify-content: center;
	color: whitesmoke;
	font-family: koho;
	font-weight: 700;
	font-size: 4rem;
	padding: 0;
	width: 100%;
	height: 5.4rem;
    text-transform: capitalize;
	align-items: center;
	// background-color: aliceblue;
}
