* {
    border: 1px solid white;
}

#team-heading {
    display: flex;
    justify-content: center;
    color: tomato;
    font-family: koho;
    font-weight: 700;
    font-size: 4rem;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 5.4rem;

}