/* * {
	border: 1px white solid;
} */

@import url("https://fonts.googleapis.com/css2?family=KoHo:wght@500;700&family=Ubuntu:wght@700&display=swap");

#app {
	/* overflow: hidden; */
	// position: absolute;
	min-height: 100vh;
	height: 100%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	transition: 0.5s all ease-out;
	background: radial-gradient(
		circle,
		rgba(34, 42, 53, 1) 0%,
		rgba(12, 12, 12, 1) 100%
	);
	background-attachment: fixed;
}

// .hide-and-disable {
// 	transition: 0.5s opacity ease-out;
// 	opacity: 0;
// 	pointer-events: none;
// }

#main {
	display: flex;
	flex-direction: column;
	// width: 100%;
	min-height: 87vh;
}
